<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<integer>0xAF990098</integer>
		<integer>0xF0003300</integer>
	</array>
	<key>locations</key>
	<array>
		<string>0.0</string>
		<string>1.0</string>
	</array>
	<key>startPoint</key>
	<array>
		<real>0.5</real>
		<integer>0</integer>
	</array>
	<key>endPoint</key>
	<array>
		<real>0.5</real>
		<integer>1</integer>
	</array>
</dict>
</plist>
